@import url("var_root.css");

#page-footer {
    background-color: #181818;
    padding-top: 10px;
    margin-bottom: -5px;
}

.navbar {
    background-color: #101010;
    color: var(--main_color_1) !important;
}

.navbar a {
    color: var(--main_color_1) !important;
}

#flex_footer {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr;
    margin: auto;
    justify-content: center;
    gap: 50px;
}

.f_lastpost {
    background-color: #101010;
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    margin: 20px;
}

.f_lastmessage {
    color: var(--main_color_1);
    font-size: 1rem;
    font-weight: bold;
}

.f_time {
    color: var(--main_color_3);
    font-size: 0.8rem;
    text-transform: uppercase;
}

.f_username {
    font-weight: bold;
    font-size: 1rem;
}

#connected_title, #connected_block {
    width: 100%;
}

#f_hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#connected_title {
    color: var(--main_color_1);
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#connected_block {
    border-radius: 20px;
    height: 200px;
    background-color: #101010;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    font-weight: bold;
    text-align: justify;
    font-size: 1rem;
}

#f_stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

#f_members {
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary_color_2);
}

#f_total_topics, #f_total_posts {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main_color_1);
}

#f_reverse progress {
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-left: -75px;
    margin-right: -75px;
    transform: rotate(-90deg);
    background: rgba(0, 0, 0, 0);
}

#kiri_p {
    color: var(--kiri);
}

#kiri_p::-moz-progress-bar { 
    background: var(--kiri);
    border-radius: 5px;
}

#kiri_p::-webkit-progress-value {
    background: var(--kiri);
    border-radius: 5px;
}

#kiri_p::-webkit-progress-bar {
    background: rgba(0, 0, 0, 0);
}

#iwa_p {
    color: var(--iwa); /* For IE10 */
}

#iwa_p::-moz-progress-bar { 
    background: var(--iwa);
    border-radius: 5px;
}

#iwa_p::-webkit-progress-value {
    background: var(--iwa);
    border-radius: 5px;
}

#iwa_p::-webkit-progress-bar {
    background: rgba(0, 0, 0, 0);
}

#suna_p {
    color: var(--suna);
}

#suna_p::-moz-progress-bar { 
    border-radius: 5px;
    background: var(--suna);
}

#suna_p::-webkit-progress-value {
    border-radius: 5px;
    background: var(--suna);
}

#suna_p::-webkit-progress-bar {
    background: rgba(0, 0, 0, 0);
}

#nukenin_p {
    color: var(--nukenin);
}

#nukenin_p::-moz-progress-bar { 
    background: var(--nukenin);
    border-radius: 5px;
}

#nukenin_p::-webkit-progress-value {
    background: var(--nukenin);
    border-radius: 5px;
}

#nukenin_p::-webkit-progress-bar {
    background: rgba(0, 0, 0, 0);
}

#kumo_p {
    color: var(--kumo);
}

#kumo_p::-moz-progress-bar { 
    background: var(--kumo);
    border-radius: 5px;
}

#kumo_p::-webkit-progress-value {
    background: var(--kumo);
    border-radius: 5px;
}

#kumo_p::-webkit-progress-bar {
    background: rgba(0, 0, 0, 0);
}

#konoha_p {
    color: var(--konoha);
}

#konoha_p::-moz-progress-bar { 
    background: var(--konoha);
    border-radius: 5px;
}

#konoha_p::-webkit-progress-value {
    background: var(--konoha);
    border-radius: 5px;
}

#konoha_p::-webkit-progress-bar {
    background: rgba(0, 0, 0, 0);
}

#f_groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

progress#konoha_p:hover:before {
    display: inline;
    content: attr(value);
}

.group_d {
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    background-color: #101010;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
}

#kiri_d {
    color: var(--kiri);
    border: 2px dashed var(--kiri);
}

#iwa_d {
    color: var(--iwa);
    border: 2px dashed var(--iwa);
}

#suna_d {
    color: var(--suna);
    border: 2px dashed var(--suna);
}

#kumo_d {
    color: var(--kumo);
    border: 2px dashed var(--kumo);
}

#konoha_d {
    color: var(--konoha);
    border: 2px dashed var(--konoha);
}

#nukenin_d {
    color: var(--nukenin);
    border: 2px dashed var(--nukenin);
}