@import url("var_root.css");

body {
    width: 100%;
    font-size: 100%;
    background-image: url("https://zupimages.net/up/23/13/jf63.png");
    color: var(--main_color_2);
}

:root, div, fieldset{
    scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
    scrollbar-width: thin !important;
  }
  
  ::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(46,54,69);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(210,210,210); 
  }

#wrap {
    width: 1024px;
}

#wrap, #phpbb {
    background-color: transparent;
    border: none;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none !important;
    color: var(--main_color_3);
}

[data-title]:hover:after {
    opacity: 1;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    opacity: 0;
    visibility: hidden;
    background-color: var(--main_color_2);
    color: var(--main_color_1);
    padding: 5px;
    border-radius: 5px;
}

.inputbox, .inputbox:autofill {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 0 40px var(--main_color_1) inset !important;
    border: 1px dotted var(--main_color_2) !important;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

.button2 {
    all: unset !important;
    border-radius: 15px !important;
    background-color: green !important;
    color: var(--main_color_1) !important;
    box-sizing: border-box !important;
    padding: 8px !important;
    cursor: pointer !important;
}

.panel {
    width: 100%;
    background-color: var(--main_color_1);
}