@import url("var_root.css");

body {
    width: 100%;
    background-image: url("https://zupimages.net/up/23/13/jf63.png");
}

:root, div, fieldset{
    scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
    scrollbar-width: thin !important;
  }
  
  ::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(46,54,69);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(210,210,210); 
  }

#wrap {
    width: 1024px;
}

#wrap, #phpbb {
    background-color: transparent;
    border: none;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none !important;
    color: var(--main_color_3);
}

[data-title]:hover:after {
    opacity: 1;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    opacity: 0;
    visibility: hidden;
    background-color: var(--main_color_2);
    color: var(--main_color_1);
    padding: 5px;
    border-radius: 5px;
}