@import url("var_root.css");

#my_avatar {
    width: 100px;
    border-radius: 15px;
}

#user_menu {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 75px;
    padding: 15px;
    border-radius: 30px;
}

#firstCUser {
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: var(--main_color_1);
    border-radius: 15px;
    padding: 15px;
    gap: 10px;
    box-sizing: border-box;
}

#first_infos_col {
    display: flex;
    align-items: center;
    border-right: 5px solid var(--secondary_color_2);
}

#my_attributes_interface {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#my_attributes_interface > div {
    background-color: var(--main_color_1);
    padding: 5px;
    border-radius: 15px;
}

#my_attributes_interface > div > div {
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--main_police_1);
    color: var(--main_color_2);
    font-weight: bold;
}

#my_attributes_interface input {
    margin: auto;
    display: block;
    border: none;
    background-color: var(--main_color_2);
    padding: 5px;
    font-family: var(--main_police_2);
    font-size: 1.2rem;
    color: var(--main_color_1);
    border-radius: 30px;
}

#info_attributes_use {
    text-align: center;
    color: var(--secondary_color_2);
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--main_color_2);
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
}

#my_progress {
    color: lightskyblue;
    background: white;
    border: none;
    border-radius: 20px;
    height: 20px;
    width: 200px;
    margin: auto;
    display: block;
    margin: 5px;
}

#my_progress::-moz-progress-bar { 
    background: lightskyblue;
    border-radius: 20px;
}

#my_progress::-webkit-progress-value {
    background: lightskyblue;
    border-radius: 20px;
}

#my_progress::-webkit-progress-bar {
    background: white;
    border-radius: 20px;
}

#my_username {
    font-size: 1.2rem;
    font-family: var(--main_police_1);
    color: var(--main_color_2);
    font-weight: bold;
    text-align: center;
    border-bottom: 1px dotted var(--main_color_2);
    margin: 5px;
}

#my_level, #my_experience {
    font-size: 1rem;
    font-family: var(--main_police_2);
    color: var(--main_color_2);
    font-weight: bold;
}

#my_experience {
    font-size: 1rem;
    font-family: var(--main_police_2);
    color: var(--main_color_2);
    font-weight: bold;
    text-align: center;
}

#my_talent {
    background-color: purple;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    color: var(--secondary_color);
    font-weight: bold;
    font-size: 0.8rem;
    font-family: var(--main_police_2);
    margin: auto;
    margin: 5px;
}

.my_elements {
    color: var(--main_color_2);
    font-size: 0.8rem;
    margin: 5px;
    font-weight: bold;
}