@import url("var_root.css");

.top_profile {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.attributes_name {
    font-size: 1.2rem;
    font-weight: bold;
}

.profile_attributes {
    display: grid;
    margin: auto;
    gap: 15px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 25px 25px;
    text-align: center;
}

.attributes_content {
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.bgp_kiri {
    background-color: var(--kiri);
}

.bgp_konoha {
    background-color: var(--konoha);
}

.bgp_kumo {
    background-color: var(--kumo);
}

.bgp_suna {
    background-color: var(--suna);
}

.bgp_iwa {
    background-color: var(--iwa);
}

.bgp_nuke {
    background-color: var(--nukenin);
}

.bgp_others {
    background-color: var(--main_color_3);
}

.profile_progress {
    color: lightskyblue;
    background: white;
    border: none;
    border-radius: 20px;
    height: 20px;
    width: 90%;
    margin: 5px auto;
    display: block;
}

.profile_progress::-moz-progress-bar { 
    background: lightskyblue;
    border-radius: 20px;
}

.profile_progress::-webkit-progress-value {
    background: lightskyblue;
    border-radius: 20px;
}

.profile_progress::-webkit-progress-bar {
    background: white;
    border-radius: 20px;
}

.profile_level {
    text-align: center;
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: bold;
}

.post_content{
    background-color: var(--main_color_1);
    margin-bottom: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.contains_avatar {
    position: relative;
}

.poster_avatar, .poster_infos {
    position: absolute;
    left: 0;
    top: 0;
}

.poster_avatar > img, .contains_avatar {
    width: 200px;
    height: 320px;
    display: block;
    margin: auto;
}

.poster_avatar {
    opacity: 1;
    z-index: 1;
}

.poster_infos {
    opacity: 0;
    z-index: 2;
    transition: 1s;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--main_color_3);
}

.poster_infos:hover {
    opacity: 0.8;
}

.info_link {
    display: block;
    margin: 10px auto;
    width: 80%;
    background-color: var(--main_color_2);
    color: var(--main_color_3);
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}

.content_first_row {
    height: 40px;
    background-color: var(--main_color_3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.content_second_row {
    display: grid;
    grid-template-columns: 774px 250px;
    grid-template-rows: auto;
}

.content_first_col {
    box-sizing: border-box;
    padding: 15px;
    font-size: 1rem;
    text-align: justify;
}

.content_second_col {
    background-color: var(--main_color_3);
    box-sizing: border-box;
    padding-bottom: 15px;
    border-bottom-right-radius: 15px;
}

.profile_points {
    text-align: center;
    color: var(--main_color_2);
    font-weight: bold;
    font-size: 1rem;
}

.poster_avatar img {
    border-radius: 15px;
}

.content_username a {
    font-weight: bold;
    color: var(--main_color_2) !important;
}

.info_rank {
    margin: 10px auto;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.main_username {
    margin: 10px auto;
    display: block;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    color: var(--main_color_2) !important;
}

.p_kiri, .p_iwa, .p_suna, .p_kumo, .p_konoha, .p_nuke {
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}

.p_cadre {
    background-color: var(--main_color_3);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

.p_kiri {
    background-color: var(--kiri);
}

.p_iwa {
    background-color: var(--iwa);
}

.p_suna {
    background-color: var(--suna);
}

.p_kumo {
    background-color: var(--kumo);
}

.p_konoha {
    background-color: var(--konoha);
}

.p_nuke {
    background-color: var(--nukenin);
}