@import url("var_root.css");

#vg_title {
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: var(--main_police_1);
    color: var(--main_color_3);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: var(--main_color_2);
}

#vg_content {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 15px;
    background-color: var(--main_color_1);
    padding: 15px;
    box-sizing: border-box;
}

#vg_title, #vg_content {
    width: 70%;
    margin: auto;
}

#vg_content h1 {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

#vg_content h2 {
    text-align: center;
    color: var(--secondary_color_2);
    font-size: 1.4rem;
}

.vg_block {
    display: block;
    margin: 10px auto;
}

.buttons_flex {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.second_disp {
    display: none !important;
}

#vg_content textarea, #vg_content input[type=text], #vg_content input[type=number] {
    background-color: var(--main_color_3);
    color: var(--main_color_2);
}

#vg_content input[type=number] {
    border: 1px dotted var(--main_color_2);
    height: 30px;
}

#vg_content textarea {
    resize: none;
    background-color: var(--main_color_3);
    border-radius: 5px;
    height: 100px;
    font-size: 1rem;
    color: var(--main_color_2);
    padding: 5px;
    border: 1px dotted var(--main_color_2);
    display: block;
    margin: auto;
}

#vg_content input[type=text] {
    border: 1px dotted var(--main_color_2);
    display: block;
    margin: auto;
    font-size: 1rem;
}

.vg_kiri {
    color: var(--kiri);
    border-bottom: 1px dotted var(--kiri);
}

.vg_iwa {
    color: var(--iwa);
    border-bottom: 1px dotted var(--iwa);
}

.vg_suna {
    color: var(--suna);
    border-bottom: 1px dotted var(--suna);
}

.vg_kumo {
    color: var(--kumo);
    border-bottom: 1px dotted var(--kumo);
}

.vg_konoha {
    color: var(--konoha);
    border-bottom: 1px dotted var(--konoha);
}

.village_container {
    text-align: justify;
    width: 90%;
    margin: 10px auto;
}

.influence_container {
    margin-top: 10px;
}