@import url("var_root.css");

.pf_title {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: red;
    color: var(--main_color_1);
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 2rem;
    font-family: var(--main_police);
    font-weight: bold;
}

.pf_field {
    background-color: var(--main_color_1);
    color: var(--main_color_2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 15px;
}

.pf_field input[type=number] {
    border: 1px dotted var(--main_color_2);
    margin-top: 10px;
    background-color: var(--main_color_3);
    margin: 5px auto;
    display: block;
}

.pf_field input[type=submit] {
    border: none;
    background-color: green;
    color: var(--main_color_1);
    border-radius: 10px;
    padding: 5px;
    margin: 15px auto;
    display: block;
}

.pf_field select {
    border: 1px dotted var(--main_color_2);
    width: 18rem;
    margin: 5px auto;
    display: block;
    text-align: center;
}