<!-- INCLUDE overall_header.html -->
{% INCLUDEJS 'introduction.js' %}

<div id="intro_title">Poster sa présentation</div>
<div id="intro_content">
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="character_introduction_callback" data-refresh="true">
        <div id="grid_intro">
            <label>Prénom : </label><input type="text" name="character_firstname" required>
            <label>Nom : </label><input type="text" name="character_lastname" required>
            <label>Genre : </label><input type="text" name="character_gender" required>
            <label>Âge :</label><input type="text" name="character_age" required>
            <label>Groupe : </label>
            <select name="character_group" required>
                <option value="Kiri">Kiri</option>
                <option value="Suna">Suna</option>
                <option value="Iwa">Iwa</option>
                <option value="Kumo">Kumo</option>
                <option value="Konoha">Konoha</option>
                <option value="Nukenin">Nukenin</option>
            </select>
        </div>
        <h1>Description physique & mentale</h1>
        <textarea name="character_description" required>Description physique et mentale de votre personnage ; comme pour l'histoire, nous n'imposons aucune longue rédaction tant que nous pouvons le cerner.</textarea>
        <h1>Histoire</h1>
        <textarea name="character_story" required>Vous pouvez présenter votre histoire sous forme de chronologie avec faits marquants, ou de manière plus rédigée.</textarea>
        <h1>Présentation du joueur (en quelques mots)</h1>
        <textarea name="character_player" required>On brise cette fois le quatrième mur ! Quel est votre pseudonyme sur internet ? Quels sont vos hobbies, et depuis combien de temps pratiquez-vous le RP ?</textarea>
        <h1>Que ferons-nous de votre personnage en cas de départ ?</h1>
        <textarea name="character_future">Ici, c'est à vous de décider ce qu'il convient de faire de votre personnage après votre départ. Doit-il mourir ? Continuer de vivre en PNJ ? Devenir un pré-lien ou un prédéfini ?</textarea>
        <input type="submit" class="button_validate d_block" value="Poster sa fiche" name="introduction_validate_button">
    </form>
</div>

<!-- INCLUDE overall_footer.html -->