<!doctype html>
<html>
    <head>
        <link href="./styles/prosilver/theme/stylesheet.css" rel="stylesheet">
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="ficheParto">
            <img src="https://zupimages.net/up/23/25/b0hz.png" id="bannerParto">

            <fieldset id="contexteParto">
                <legend>
                    Contexte
                </legend>
                L’odeur âcre du fer se déversant sur les sols jonchés de cadavres, telle une rivière maudite, n’était qu’un rappel tumultueux des affres de la guerre. Alors que la haine se répandait, le bonheur ne restait plus qu’une vaine étincelle au bout d’un couloir. La fondation des villages n’avait épargné personne, ce rêve de paix porté autrefois par un glorieux shinobi ne fut que les prémices de conflits plus grands, de conflits plus intenses.
Armes, poisons, techniques de destruction massive, personne ne recula, personne ne baissa les armes. Les morts s’enchaînaient et avec eux, les maladies se répandaient. L’ami de toujours devenu l’ennemi de demain, tandis que ceux que l’on ne soupçonnaient pas, devenaient des alliés de circonstances. <a href="http://jnm.example.com/guidebook.php">La suite ?</a>
            </fieldset>

            <div id="firstPhrase">Jikan no Mon, c'est...</div>
            <div class="stParto">{P_TOTAL_USERS} personnages validés</div>
            <div class="stParto">{P_TOTAL_POSTS} messages postés</div>

            <div id="joinParto">Rejoignez-nous !</div>
            <a id="lienParto" target="_blank" href="https://jikan-no-mon-rpg.com/forum/index.php">https://jikan-no-mon-rpg.com/forum/index.php</a>

            <a id="imgParto" target="_blank" href="https://jikan-no-mon-rpg.com/forum/index.php"><img src="https://zupimages.net/up/24/26/t3wz.png"></a>
        </div>
    </body>
</html>