<!-- INCLUDE overall_header.html -->
{% INCLUDEJS 'relationships.js' %}

<div id="rs_title">Relations de {RS_USERNAME}</div>
<div id="rs_content">
    <h1 id="rs_kiri">Kirigakure no Sato</h1>
    <!-- BEGIN kiri_relations -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="kiri_relation_modify_callback" data-refresh="true">
        <div class="relation">
            <input type="hidden" value="{{ kiri_relations.S_ROW_COUNT }}" name="relation_row">
            <input type="hidden" value="{kiri_relations.RELATIONSHIP_ID}" name="relationship_id">
            <img src="./download/file.php?avatar={kiri_relations.RELATION_AVATAR}" class="relation_avatar">
            <div class="relation_container">
                <h3 class="relation_name relation_kiri">{kiri_relations.RELATION_USERNAME}</h3>
                <div class="relation_description">
                    <strong class="kiri_relations_title">{kiri_relations.RELATION_TITLE}</strong> - 
                    <span class="kiri_relations_description">{kiri_relations.RELATION_DESCRIPTION}</span>
                </div>
            </div>
        </div>
        <!-- IF RS_RIGHTS -->
        <div class="button_align">
            <input type="submit" class="button_validate kiri_relations_validate none_button" name="modify_relation" value="Valider les modifications">
            <input type="submit" class="button_delete kiri_relations_rollback none_button" name="rollback_relation" value="Annuler les modifications">
        </div>
        <input class="button_delete kiri_relations_delete button_block" type="submit" value="Supprimer la relation" name="delete_relation">
        <!-- ENDIF -->
    </form>
    <!-- IF RS_RIGHTS -->
    <input class="button_modify kiri_relations_modify button_block" onclick="modify_relation({{ kiri_relations.S_ROW_COUNT }}, 'kiri_relations')" type="button" value="Modifier la relation">
    <!-- ENDIF -->
    <!-- END kiri_relations -->

    <!-- IF RS_RIGHTS -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="kiri_relation_callback" data-refresh="true">
        <h2>Sélectionnez un joueur</h2>
        <select name="new_relations" required>
            <!-- BEGIN kiri_new_relations -->
            <option value="{kiri_new_relations.RS_ID}">{kiri_new_relations.RS_USERNAME}</option>
            <!-- END kiri_new_relations -->
        </select>
        <h2>Nom de la relation</h2>
        <input type="text" name="name_relation" required>
        <h2>Description de la relation</h2>
        <textarea required name="description_relation"></textarea>
        <input type="submit" name="create_kiri_rs_button" class="button_validate button_align" value="Créer la relation">
    </form>
    <!-- ENDIF -->
    <h1 id="rs_iwa">Iwagakure no Sato</h1>
    <!-- BEGIN iwa_relations -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="iwa_relation_modify_callback" data-refresh="true">
        <div class="relation">
            <input type="hidden" value="{{ iwa_relations.S_ROW_COUNT }}" name="relation_row">
            <input type="hidden" value="{iwa_relations.RELATIONSHIP_ID}" name="relationship_id">
            <img src="./download/file.php?avatar={iwa_relations.RELATION_AVATAR}" class="relation_avatar">
            <div class="relation_container">
                <h3 class="relation_name relation_iwa">{iwa_relations.RELATION_USERNAME}</h3>
                <div class="relation_description">
                    <strong class="iwa_relations_title">{iwa_relations.RELATION_TITLE}</strong> - 
                    <span class="iwa_relations_description">{iwa_relations.RELATION_DESCRIPTION}</span>
                </div>
            </div>
        </div>
        <!-- IF RS_RIGHTS -->
        <div class="button_align">
            <input type="submit" class="button_validate iwa_relations_validate none_button" name="modify_relation" value="Valider les modifications">
            <input type="submit" class="button_delete iwa_relations_rollback none_button" name="rollback_relation" value="Annuler les modifications">
        </div>
        <input class="button_delete iwa_relations_delete button_block" type="submit" value="Supprimer la relation" name="delete_relation"> 
        <!-- ENDIF -->
    </form>
    <!-- IF RS_RIGHTS -->
    <input class="button_modify iwa_relations_modify button_block" onclick="modify_relation({{ iwa_relations.S_ROW_COUNT }}, 'iwa_relations')" type="button" value="Modifier la relation">
    <!-- ENDIF -->
    <!-- END iwa_relations -->

    <!-- IF RS_RIGHTS -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="iwa_relation_callback" data-refresh="true">
        <h2>Sélectionnez un joueur</h2>
        <select name="new_relations" required>
            <!-- BEGIN iwa_new_relations -->
            <option value="{iwa_new_relations.RS_ID}">{iwa_new_relations.RS_USERNAME}</option>
            <!-- END iwa_new_relations -->
        </select>
        <h2>Nom de la relation</h2>
        <input type="text" name="name_relation" required>
        <h2>Description de la relation</h2>
        <textarea required name="description_relation"></textarea>
        <input type="submit" name="create_iwa_rs_button" class="button_validate button_align" value="Créer la relation">
    </form>
    <!-- ENDIF -->
    <h1 id="rs_suna">Sunagakure no Sato</h1>
    <!-- BEGIN suna_relations -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="suna_relation_modify_callback" data-refresh="true">
        <div class="relation">
            <input type="hidden" value="{{ suna_relations.S_ROW_COUNT }}" name="relation_row">
            <input type="hidden" value="{suna_relations.RELATIONSHIP_ID}" name="relationship_id">
            <img src="./download/file.php?avatar={suna_relations.RELATION_AVATAR}" class="relation_avatar">
            <div class="relation_container">
                <h3 class="relation_name relation_suna">{suna_relations.RELATION_USERNAME}</h3>
                <div class="relation_description">
                    <strong class="suna_relations_title">{suna_relations.RELATION_TITLE}</strong> - 
                    <span class="suna_relations_description">{suna_relations.RELATION_DESCRIPTION}</span>
                </div>
            </div>
        </div>
        <!-- IF RS_RIGHTS -->
        <div class="button_align">
            <input type="submit" class="button_validate suna_relations_validate none_button" name="modify_relation" value="Valider les modifications">
            <input type="submit" class="button_delete suna_relations_rollback none_button" name="rollback_relation" value="Annuler les modifications">
        </div>
        <input class="button_delete suna_relations_delete button_block" type="submit" value="Supprimer la relation" name="delete_relation"> 
        <!-- ENDIF -->
    </form>
    <!-- IF RS_RIGHTS -->
    <input class="button_modify suna_relations_modify button_block" onclick="modify_relation({{ suna_relations.S_ROW_COUNT }}, 'suna_relations')" type="button" value="Modifier la relation">
    <!-- ENDIF -->
    <!-- END suna_relations -->

    <!-- IF RS_RIGHTS -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="suna_relation_callback" data-refresh="true">
        <h2>Sélectionnez un joueur</h2>
        <select name="new_relations" required>
            <!-- BEGIN suna_new_relations -->
            <option value="{suna_new_relations.RS_ID}">{suna_new_relations.RS_USERNAME}</option>
            <!-- END suna_new_relations -->
        </select>
        <h2>Nom de la relation</h2>
        <input type="text" name="name_relation" required>
        <h2>Description de la relation</h2>
        <textarea required name="description_relation"></textarea>
        <input type="submit" name="create_suna_rs_button" class="button_validate button_align" value="Créer la relation">
    </form>
    <!-- ENDIF -->
    <h1 id="rs_kumo">Kumogakure no Sato</h1>
    <!-- BEGIN kumo_relations -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="kumo_relation_modify_callback" data-refresh="true">
        <div class="relation">
            <input type="hidden" value="{{ kumo_relations.S_ROW_COUNT }}" name="relation_row">
            <input type="hidden" value="{kumo_relations.RELATIONSHIP_ID}" name="relationship_id">
            <img src="./download/file.php?avatar={kumo_relations.RELATION_AVATAR}" class="relation_avatar">
            <div class="relation_container">
                <h3 class="relation_name relation_kumo">{kumo_relations.RELATION_USERNAME}</h3>
                <div class="relation_description">
                    <strong class="kumo_relations_title">{kumo_relations.RELATION_TITLE}</strong> - 
                    <span class="kumo_relations_description">{kumo_relations.RELATION_DESCRIPTION}</span>
                </div>
            </div>
        </div>
        <!-- IF RS_RIGHTS -->
        <div class="button_align">
            <input type="submit" class="button_validate kumo_relations_validate none_button" name="modify_relation" value="Valider les modifications">
            <input type="submit" class="button_delete kumo_relations_rollback none_button" name="rollback_relation" value="Annuler les modifications">
        </div>
        <input class="button_delete kumo_relations_delete button_block" type="submit" value="Supprimer la relation" name="delete_relation">
        <!-- ENDIF -->
    </form>
    <!-- IF RS_RIGHTS -->
    <input class="button_modify kumo_relations_modify button_block" onclick="modify_relation({{ kumo_relations.S_ROW_COUNT }}, 'kumo_relations')" type="button" value="Modifier la relation">
    <!-- ENDIF -->
    <!-- END kumo_relations -->

    <!-- IF RS_RIGHTS -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="kumo_relation_callback" data-refresh="true">
        <h2>Sélectionnez un joueur</h2>
        <select name="new_relations" required>
            <!-- BEGIN kumo_new_relations -->
            <option value="{kumo_new_relations.RS_ID}">{kumo_new_relations.RS_USERNAME}</option>
            <!-- END kumo_new_relations -->
        </select>
        <h2>Nom de la relation</h2>
        <input type="text" name="name_relation" required>
        <h2>Description de la relation</h2>
        <textarea required name="description_relation"></textarea>
        <input type="submit" name="create_kumo_rs_button" class="button_validate button_align" value="Créer la relation">
    </form>
    <!-- ENDIF -->
    <h1 id="rs_konoha">Konohagakure no Sato</h1>
    <!-- BEGIN konoha_relations -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="konoha_relation_modify_callback" data-refresh="true">
        <div class="relation">
            <input type="hidden" value="{{ konoha_relations.S_ROW_COUNT }}" name="relation_row">
            <input type="hidden" value="{konoha_relations.RELATIONSHIP_ID}" name="relationship_id">
            <img src="./download/file.php?avatar={konoha_relations.RELATION_AVATAR}" class="relation_avatar">
            <div class="relation_container">
                <h3 class="relation_name relation_konoha">{konoha_relations.RELATION_USERNAME}</h3>
                <div class="relation_description">
                    <strong class="konoha_relations_title">{konoha_relations.RELATION_TITLE}</strong> - 
                    <span class="konoha_relations_description">{konoha_relations.RELATION_DESCRIPTION}</span>
                </div>
            </div>
        </div>
        <!-- IF RS_RIGHTS -->
        <div class="button_align">
            <input type="submit" class="button_validate konoha_relations_validate none_button" name="modify_relation" value="Valider les modifications">
            <input type="submit" class="button_delete konoha_relations_rollback none_button" name="rollback_relation" value="Annuler les modifications">
        </div>
        <input class="button_delete konoha_relations_delete button_block" type="submit" value="Supprimer la relation" name="delete_relation">
        <!-- ENDIF -->
    </form>
    <!-- IF RS_RIGHTS -->
    <input class="button_modify konoha_relations_modify button_block" onclick="modify_relation({{ konoha_relations.S_ROW_COUNT }}, 'konoha_relations')" type="button" value="Modifier la relation">
    <!-- ENDIF -->
    <!-- END konoha_relations -->

    <!-- IF RS_RIGHTS -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="konoha_relation_callback" data-refresh="true">
        <h2>Sélectionnez un joueur</h2>
        <select name="new_relations" required>
            <!-- BEGIN konoha_new_relations -->
            <option value="{konoha_new_relations.RS_ID}">{konoha_new_relations.RS_USERNAME}</option>
            <!-- END konoha_new_relations -->
        </select>
        <h2>Nom de la relation</h2>
        <input type="text" name="name_relation" required>
        <h2>Description de la relation</h2>
        <textarea required name="description_relation"></textarea>
        <input type="submit" name="create_konoha_rs_button" class="button_validate button_align" value="Créer la relation">
    </form>
    <!-- ENDIF -->
    <h1 id="rs_nuke">Nukenin</h1>
    <!-- BEGIN nuke_relations -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="nuke_relation_modify_callback" data-refresh="true">
        <div class="relation">
            <input type="hidden" value="{{ nuke_relations.S_ROW_COUNT }}" name="relation_row">
            <input type="hidden" value="{nuke_relations.RELATIONSHIP_ID}" name="relationship_id">
            <img src="./download/file.php?avatar={nuke_relations.RELATION_AVATAR}" class="relation_avatar">
            <div class="relation_container">
                <h3 class="relation_name relation_nuke">{nuke_relations.RELATION_USERNAME}</h3>
                <div class="relation_description">
                    <strong class="nuke_relations_title">{nuke_relations.RELATION_TITLE}</strong> - 
                    <span class="nuke_relations_description">{nuke_relations.RELATION_DESCRIPTION}</span>
                </div>
            </div>
        </div>
        <!-- IF RS_RIGHTS -->
        <div class="button_align">
            <input type="submit" class="button_validate nuke_relations_validate none_button" name="modify_relation" value="Valider les modifications">
            <input type="submit" class="button_delete nuke_relations_rollback none_button" name="rollback_relation" value="Annuler les modifications">
        </div>
        <input class="button_delete nuke_relations_delete button_block" type="submit" value="Supprimer la relation" name="delete_relation">
        <!-- ENDIF --> 
    </form>
    <!-- IF RS_RIGHTS -->
    <input class="button_modify nuke_relations_modify button_block" onclick="modify_relation({{ nuke_relations.S_ROW_COUNT }}, 'nuke_relations')" type="button" value="Modifier la relation">
    <!-- ENDIF -->
    <!-- END nuke_relations -->

    <!-- IF RS_RIGHTS -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="nuke_relation_callback" data-refresh="true">
        <h2>Sélectionnez un joueur</h2>
        <select name="new_relations" required>
            <!-- BEGIN nuke_new_relations -->
            <option value="{nuke_new_relations.RS_ID}">{nuke_new_relations.RS_USERNAME}</option>
            <!-- END nuke_new_relations -->
        </select>
        <h2>Nom de la relation</h2>
        <input type="text" name="name_relation" required>
        <h2>Description de la relation</h2>
        <textarea required name="description_relation"></textarea>
        <input type="submit" name="create_nuke_rs_button" class="button_validate button_align" value="Créer la relation">
    </form>
    <!-- ENDIF -->
</div>
<!-- INCLUDE overall_footer.html -->