<!-- INCLUDE overall_header.html -->
{% INCLUDEJS 'villages.js' %}
<div id="vg_title">Gestion du village</div>
<div id="vg_content">
    <!-- IF VG_IS_KIRI || VG_IS_ADMIN -->
    <h1 class="vg_kiri">Kirigakure</h1>
    <div class="village_container">
        <strong>Points d'influence :</strong> {VG_KIRI_POINTS}
        <!-- IF VG_IS_ADMIN -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="substract_influence_callback" data-refresh="true">
            <input type="hidden" value="{VG_KIRI_ID}" name="group_id">
            <input type="number" max="{VG_KIRI_POINTS}" min="0" name="group_points">
            <input type="submit" value="Retirer les points d'influence" name="substract_influence_button" class="button_validate">
        </form>
        <!-- ENDIF -->
        <!-- BEGIN kiri_adv -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="kiri_modify_influence_callback" data-refresh="true">
            <div class="influence_container">
                <input type="hidden" name="influence_id" value="{kiri_adv.INFLUENCE_ID}">
                <strong class="kiri_advantage_title">{kiri_adv.INFLUENCE_TITLE}</strong> ; <span class="kiri_advantage_description">{kiri_adv.INFLUENCE_DESCRIPTION}</span>
                <!-- IF VG_IS_ADMIN -->
                <div class="buttons_flex first_disp kiri_first_disp">
                    <input type="button" class="button_modify" value="Modifier l'avantage" onclick="modifyAdvantage({{ kiri_adv.S_ROW_COUNT }}, 'kiri')">
                    <input type="submit" class="button_delete" value="Supprimer l'avantage" name="delete_advantage_button">
                </div>
                <div class="buttons_flex second_disp kiri_second_disp">
                    <input type="submit" class="button_validate" value="Valider la modification" name="button_modify_advantage">
                    <input type="submit" class="button_delete" value="Annuler la modification" name="button_unmodify_advantage">
                </div>
                <!-- ENDIF -->
            </div>
        </form>
        <!-- END kiri_adv -->
        <!-- IF VG_IS_ADMIN -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="kiri_influence_callback" data-refresh="true">
            <h2>Titre de l'avantage</h2>
            <input type="text" name="influence_name" required>
            <h2>Description de l'avantage</h2>
            <textarea name="influence_description" required></textarea>
            <input type="submit" class="button_validate vg_block" value="Donner l'avantage" name="kiri_avantage_button">
        </form>
        <!-- ENDIF -->
    </div>
    <!-- ENDIF -->

    <!-- IF VG_IS_IWA || VG_IS_ADMIN -->
    <h1 class="vg_iwa">Iwagakure</h1>
    <div class="village_container">
        <strong>Points d'influence :</strong> {VG_IWA_POINTS}
        <!-- IF VG_IS_ADMIN -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="substract_influence_callback" data-refresh="true">
            <input type="hidden" value="{VG_IWA_ID}" name="group_id">
            <input type="number" max="{VG_IWA_POINTS}" min="0" name="group_points">
            <input type="submit" value="Retirer les points d'influence" name="substract_influence_button" class="button_validate">
        </form>
        <!-- ENDIF -->
        <!-- BEGIN iwa_adv -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="iwa_modify_influence_callback" data-refresh="true">
            <div class="influence_container">
                <input type="hidden" name="influence_id" value="{iwa_adv.INFLUENCE_ID}">
                <strong class="iwa_advantage_title">{iwa_adv.INFLUENCE_TITLE}</strong> ; <span class="iwa_advantage_description">{iwa_adv.INFLUENCE_DESCRIPTION}</span>
                <!-- IF VG_IS_ADMIN -->
                <div class="buttons_flex first_disp iwa_first_disp">
                    <input type="button" class="button_modify" value="Modifier l'avantage" onclick="modifyAdvantage({{ iwa_adv.S_ROW_COUNT }}, 'iwa')">
                    <input type="submit" class="button_delete" value="Supprimer l'avantage" name="delete_advantage_button">
                </div>
                <div class="buttons_flex second_disp iwa_second_disp">
                    <input type="submit" class="button_validate" value="Valider la modification" name="button_modify_advantage">
                    <input type="submit" class="button_delete" value="Annuler la modification" name="button_unmodify_advantage">
                </div>
                <!-- ENDIF -->
            </div>
        </form>
        <!-- END iwa_adv -->
        <!-- IF VG_IS_ADMIN -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="iwa_influence_callback" data-refresh="true">
            <h2>Titre de l'avantage</h2>
            <input type="text" name="influence_name" required>
            <h2>Description de l'avantage</h2>
            <textarea name="influence_description" required></textarea>
            <input type="submit" class="button_validate vg_block" value="Donner l'avantage" name="iwa_avantage_button">
        </form>
        <!-- ENDIF -->
    </div>
    <!-- ENDIF -->

    <!-- IF VG_IS_SUNA || VG_IS_ADMIN -->
    <h1 class="vg_suna">Sunagakure</h1>
    <div class="village_container">
        <strong>Points d'influence :</strong> {VG_SUNA_POINTS}
        <!-- IF VG_IS_ADMIN -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="substract_influence_callback" data-refresh="true">
            <input type="hidden" value="{VG_SUNA_ID}" name="group_id">
            <input type="number" max="{VG_SUNA_POINTS}" min="0" name="group_points">
            <input type="submit" value="Retirer les points d'influence" name="substract_influence_button" class="button_validate">
        </form>
        <!-- ENDIF -->
        <!-- BEGIN suna_adv -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="suna_modify_influence_callback" data-refresh="true">
            <div class="influence_container">
                <input type="hidden" name="influence_id" value="{suna_adv.INFLUENCE_ID}">
                <strong class="suna_advantage_title">{suna_adv.INFLUENCE_TITLE}</strong> ; <span class="suna_advantage_description">{suna_adv.INFLUENCE_DESCRIPTION}</span>
                <!-- IF VG_IS_ADMIN -->
                <div class="buttons_flex first_disp suna_first_disp">
                    <input type="button" class="button_modify" value="Modifier l'avantage" onclick="modifyAdvantage({{ suna_adv.S_ROW_COUNT }}, 'suna')">
                    <input type="submit" class="button_delete" value="Supprimer l'avantage" name="delete_advantage_button">
                </div>
                <div class="buttons_flex second_disp suna_second_disp">
                    <input type="submit" class="button_validate" value="Valider la modification" name="button_modify_advantage">
                    <input type="submit" class="button_delete" value="Annuler la modification" name="button_unmodify_advantage">
                </div>
                <!-- ENDIF -->
            </div>
        </form>
        <!-- END suna_adv -->
        <!-- IF VG_IS_ADMIN -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="suna_influence_callback" data-refresh="true">
            <h2>Titre de l'avantage</h2>
            <input type="text" name="influence_name" required>
            <h2>Description de l'avantage</h2>
            <textarea name="influence_description" required></textarea>
            <input type="submit" class="button_validate vg_block" value="Donner l'avantage" name="suna_avantage_button">
        </form>
        <!-- ENDIF -->
    </div>
    <!-- ENDIF -->

    <!-- IF VG_IS_KUMO || VG_IS_ADMIN -->
    <h1 class="vg_kumo">Kumogakure</h1>
    <div class="village_container">
        <strong>Points d'influence :</strong> {VG_KUMO_POINTS}
        <!-- IF VG_IS_ADMIN -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="substract_influence_callback" data-refresh="true">
            <input type="hidden" value="{VG_KUMO_ID}" name="group_id">
            <input type="number" max="{VG_KUMO_POINTS}" min="0" name="group_points">
            <input type="submit" value="Retirer les points d'influence" name="substract_influence_button" class="button_validate">
        </form>
        <!-- ENDIF -->
        <!-- BEGIN kumo_adv -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="kumo_modify_influence_callback" data-refresh="true">
            <div class="influence_container">
                <input type="hidden" name="influence_id" value="{kumo_adv.INFLUENCE_ID}">
                <strong class="kumo_advantage_title">{kumo_adv.INFLUENCE_TITLE}</strong> ; <span class="kumo_advantage_description">{kumo_adv.INFLUENCE_DESCRIPTION}</span>
                <!-- IF VG_IS_ADMIN -->
                <div class="buttons_flex first_disp kumo_first_disp">
                    <input type="button" class="button_modify" value="Modifier l'avantage" onclick="modifyAdvantage({{ kumo_adv.S_ROW_COUNT }}, 'kumo')">
                    <input type="submit" class="button_delete" value="Supprimer l'avantage" name="delete_advantage_button">
                </div>
                <div class="buttons_flex second_disp kumo_second_disp">
                    <input type="submit" class="button_validate" value="Valider la modification" name="button_modify_advantage">
                    <input type="submit" class="button_delete" value="Annuler la modification" name="button_unmodify_advantage">
                </div>
                <!-- ENDIF -->
            </div>
        </form>
        <!-- END kumo_adv -->
        <!-- IF VG_IS_ADMIN -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="kumo_influence_callback" data-refresh="true">
            <h2>Titre de l'avantage</h2>
            <input type="text" name="influence_name" required>
            <h2>Description de l'avantage</h2>
            <textarea name="influence_description" required></textarea>
            <input type="submit" class="button_validate vg_block" value="Donner l'avantage" name="kumo_avantage_button">
        </form>
        <!-- ENDIF -->
    </div>
    <!-- ENDIF -->

    <!-- IF VG_IS_KONOHA || VG_IS_ADMIN -->
    <h1 class="vg_konoha">Konohagakure</h1>
    <div class="village_container">
        <strong>Points d'influence :</strong> {VG_KONOHA_POINTS}
        <!-- IF VG_IS_ADMIN -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="substract_influence_callback" data-refresh="true">
            <input type="hidden" value="{VG_KONOHA_ID}" name="group_id">
            <input type="number" max="{VG_KONOHA_POINTS}" min="0" name="group_points">
            <input type="submit" value="Retirer les points d'influence" name="substract_influence_button" class="button_validate">
        </form>
        <!-- ENDIF -->
        <!-- BEGIN konoha_adv -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="konoha_modify_influence_callback" data-refresh="true">
            <div class="influence_container">
                <input type="hidden" name="influence_id" value="{konoha_adv.INFLUENCE_ID}">
                <strong class="konoha_advantage_title">{konoha_adv.INFLUENCE_TITLE}</strong> ; <span class="konoha_advantage_description">{konoha_adv.INFLUENCE_DESCRIPTION}</span>
                <!-- IF VG_IS_ADMIN -->
                <div class="buttons_flex first_disp konoha_first_disp">
                    <input type="button" class="button_modify" value="Modifier l'avantage" onclick="modifyAdvantage({{ konoha_adv.S_ROW_COUNT }}, 'konoha')">
                    <input type="submit" class="button_delete" value="Supprimer l'avantage" name="delete_advantage_button">
                </div>
                <div class="buttons_flex second_disp konoha_second_disp">
                    <input type="submit" class="button_validate" value="Valider la modification" name="button_modify_advantage">
                    <input type="submit" class="button_delete" value="Annuler la modification" name="button_unmodify_advantage">
                </div>
                <!-- ENDIF -->
            </div>
        </form>
        <!-- END konoha_adv -->
        <!-- IF VG_IS_ADMIN -->
        <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="konoha_influence_callback" data-refresh="true">
            <h2>Titre de l'avantage</h2>
            <input type="text" name="influence_name" required>
            <h2>Description de l'avantage</h2>
            <textarea name="influence_description" required></textarea>
            <input type="submit" class="button_validate vg_block" value="Donner l'avantage" name="konoha_avantage_button">
        </form>
        <!-- ENDIF -->
    </div>
    <!-- ENDIF -->
</div>
<!-- INCLUDE overall_footer.html -->