<!-- INCLUDE overall_header.html -->
<div class="wrap" id="wrap">
<p class="{S_CONTENT_FLOW_END} responsive-center time<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
<!-- IF S_USER_LOGGED_IN --><p class="responsive-center time">{CURRENT_TIME}</p><!-- ENDIF -->

<!-- EVENT index_body_markforums_before -->
<!-- IF U_MARK_FORUMS -->
	<div class="action-bar compact">
		<a href="{U_MARK_FORUMS}" class="mark-read rightside" accesskey="m" data-ajax="mark_forums_read">{L_MARK_FORUMS_READ}</a>
	</div>
<!-- ENDIF -->
<!-- EVENT index_body_markforums_after -->

{% INCLUDEJS 'JnM.js' %}

<!-- IF !IS_ANONYMOUS -->
<div id="um_links">
	<a href="./fiche_technique.php?uid={USER_ID}">Fiche Technique</a>
	<a href="./shop.php">Arbre de compétences</a>
	<a href="./missions_board.php">Tableau des missions</a>
	<a href="./relationships.php?uid={USER_ID}">Carnet de relations</a>
</div>
<div id="user_menu">
	<div id="firstCUser">
		<!-- IF MY_AVATAR -->
			<img src="./download/file.php?avatar={MY_AVATAR}" id="my_avatar">
		<!-- ELSE -->
			<img src="https://i.servimg.com/u/f33/16/35/67/99/defaul10.png" id="my_avatar">
		<!-- ENDIF -->
		<div id="first_infos_col">
			<div>
				<div id="my_username">{USERNAME}</div>
				<div id="my_level">Niveau {MY_LEVEL}</div>
				<div id="my_experience">Expérience</div>
				<progress id="my_progress" value="{MY_EXPERIENCE}" max="{EXP_BAR}" title="{MY_EXPERIENCE}/{EXP_BAR}"></progress>
				<div id="my_talent">{TALENT_POINTS} points de compétence</div>
				<!-- IF IS_IWA || IS_KIRI || IS_SUNA || IS_KONOHA || IS_KUMO -->
					<div id="my_influence">{INFLUENCE_POINTS} points d'influence</div>
				<!-- ENDIF -->
			</div>
		</div>
		<div id="second_infos_col">
			<!-- IF !FIRST_ELEMENT -->
			<form id="first_element_form" method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="first_element_callback" data-refresh="true">
				<div>Sélectionnez une affinité élémentaire :</div>
				<select id="first_element_select" name="felement">
					<option value="Katon">Katon</option>
					<option value="Fûton">Fûton</option>
					<option value="Raiton">Raiton</option>
					<option value="Doton">Doton</option>
					<option value="Suiton">Suiton</option>
				</select>
				<input name="my_first_element_button" type="submit" value="Valider">
			</form>
			<!-- ELSE -->
			<div class="my_elements">Première affinité : {FIRST_ELEMENT}</div>
			<!-- ENDIF -->

			<!-- IF !SECOND_ELEMENT && IS_SECOND_ELEMENT -->
			<form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="second_element_callback" data-refresh="true">
				<div>Sélectionnez une affinité élémentaire :</div>
				<select id="second_element_select" name="selement">
					<!-- IF FIRST_ELEMENT != "Katon" --><option value="Katon">Katon</option><!-- ENDIF -->
					<!-- IF FIRST_ELEMENT != "Fûton" --><option value="Fûton">Fûton</option><!-- ENDIF -->
					<!-- IF FIRST_ELEMENT != "Raiton" --><option value="Raiton">Raiton</option><!-- ENDIF -->
					<!-- IF FIRST_ELEMENT != "Doton" --><option value="Doton">Doton</option><!-- ENDIF -->
					<!-- IF FIRST_ELEMENT != "Suiton" --><option value="Suiton">Suiton</option><!-- ENDIF -->
					<input name="my_second_element_button" type="submit" value="Valider">
				</select>
			</form>
			<!-- ELSE IF SECOND_ELEMENT -->
			<div class="my_elements">Deuxième affinité : {SECOND_ELEMENT}</div>
			<!-- ENDIF -->

			<!-- IF !THIRD_ELEMENT && IS_THIRD_ELEMENT -->
			<form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="third_element_callback" data-refresh="true">
				<div>Sélectionnez une affinité élémentaire :</div>
				<select id="third_element_select" name="telement">
					<!-- IF FIRST_ELEMENT != "Katon" && SECOND_ELEMENT != "KATON" --><option value="Katon">Katon</option><!-- ENDIF -->
					<!-- IF FIRST_ELEMENT != "Fûton" && SECOND_ELEMENT != "Fûton" --><option value="Fûton">Fûton</option><!-- ENDIF -->
					<!-- IF FIRST_ELEMENT != "Raiton" && SECOND_ELEMENT != "Raiton" --><option value="Raiton">Raiton</option><!-- ENDIF -->
					<!-- IF FIRST_ELEMENT != "Doton" && SECOND_ELEMENT != "Doton" --><option value="Doton">Doton</option><!-- ENDIF -->
					<!-- IF FIRST_ELEMENT != "Suiton" && SECOND_ELEMENT != "Suiton" --><option value="Suiton">Suiton</option><!-- ENDIF -->
					<input name="my_third_element_button" type="submit" value="Valider">
				</select>
			</form>
			<!-- ELSE IF THIRD_ELEMENT -->
			<div class="my_elements">Troisième affinité : {THIRD_ELEMENT}</div>
			<!-- ENDIF -->

			<!-- IF FIRST_GENJUTSU -->
			<form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="first_genjutsu_callback" data-refresh="true">
				<div>Sélectionnez une spécialisation Genjutsu :</div>
				<select id="first_genjutsu_select" name="fgenjutsu">
					<option value="Vue">Vue</option>
					<option value="Son">Son</option>
					<input name="first_genjutsu_button" type="submit" value="Valider">
				</select>
			</form>
			<!-- ENDIF -->
			<!-- IF IS_SOUND -->
			<div class="my_elements">Spécialisation Son (Genjutsu)</div>
			<!-- ENDIF -->
			<!-- IF IS_SIGHT -->
			<div class="my_elements">Spécialisation Vue (Genjutsu)</div>
			<!-- ENDIF -->

			<!-- IF !FIRST_WEAPON -->
			<form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="first_bukijutsu_callback" data-refresh="true">
				<div>Sélectionnez une spécialisation d'arme :</div>
				<select id="first_bukijutsu_select" name="fbukijutsu">
					<option value="Kenjutsu">Kenjutsu</option>
					<option value="Bôjutsu">Bôjutsu</option>
					<option value="Shurikenjutsu">Shurikenjutsu</option>
					<option value="Kyûjutsu">Kyûjutsu</option>
					<input name="first_bukijutsu_button" type="submit" value="Valider">
				</select>
			</form>
			<!-- ELSE -->
			<div class="my_elements">Première spécialisation d'arme : {FIRST_WEAPON}</div>
			<!-- ENDIF -->

			<!-- IF !SECOND_WEAPON && IS_SECOND_WEAPON -->
			<form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="second_bukijutsu_callback" data-refresh="true">
				<div>Sélectionnez une spécialisation d'arme :</div>
				<select id="second_bukijutsu_select" name="sbukijutsu">
					<!-- IF FIRST_WEAPON != "Kenjutsu" --><option value="Kenjutsu">Kenjutsu</option><!-- ENDIF -->
					<!-- IF FIRST_WEAPON != "Bôjutsu" --><option value="Bôjutsu">Bôjutsu</option><!-- ENDIF -->
					<!-- IF FIRST_WEAPON != "Shurikenjutsu" --><option value="Shurikenjutsu">Shurikenjutsu</option><!-- ENDIF -->
					<!-- IF FIRST_WEAPON != "Kyûjutsu" --><option value="Kyûjutsu">Kyûjutsu</option><!-- ENDIF -->
					<input name="second_bukijutsu_button" type="submit" value="Valider">
				</select>
			</form>
			<!-- ELSE IF SECOND_WEAPON -->
			<div class="my_elements">Deuxième spécialisation d'arme : {SECOND_WEAPON}</div>
			<!-- ENDIF -->

			<!-- IF !THIRD_WEAPON && IS_THIRD_WEAPON -->
			<form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="third_bukijutsu_callback" data-refresh="true">
				<div>Sélectionnez une spécialisation d'arme :</div>
				<select id="third_element_select" name="tbukijutsu">
					<!-- IF FIRST_WEAPON != "Kenjutsu" && SECOND_WEAPON != "Kenjutsu" --><option value="Kenjutsu">Kenjutsu</option><!-- ENDIF -->
					<!-- IF FIRST_WEAPON != "Bôjutsu" && SECOND_WEAPON != "Bôjutsu" --><option value="Bôjutsu">Bôjutsu</option><!-- ENDIF -->
					<!-- IF FIRST_WEAPON != "Shurikenjutsu" && SECOND_WEAPON != "Shurikenjutsu" --><option value="Shurikenjutsu">Shurikenjutsu</option><!-- ENDIF -->
					<!-- IF FIRST_WEAPON != "Kyûjutsu" && SECOND_WEAPON != "Kyûjutsu" --><option value="Kyûjutsu">Kyûjutsu</option><!-- ENDIF -->
					<input name="third_bukijutsu_button" type="submit" value="Valider">
				</select>
			</form>
			<!-- ELSE IF THIRD_WEAPON -->
			<div class="my_elements">Troisième spécialisation d'arme : {THIRD_WEAPON}</div>
			<!-- ENDIF -->
		</div>
	</div>
	<div id="info_attributes_use">Points d'attributs à dépenser : <span id="my_attributes_to_use">{ATTRIBUTES_TO_USE}</span></div>
	<form id="level_attributes" method="post" action="{{ U_ACTION }}" data-ajax="attributes_callback" data-refresh="true">
		<div id="my_attributes_interface">
			<div>
				<div>Physique</div>
				<div id="my_strength">{MY_STRENGTH}</div>
				<!-- IF MY_STRENGTH < 8 && ATTRIBUTES_TO_USE > 0 --><input name="my_strength_button" class="my_attributes" id="my_strength_button" type="submit" value="Dépenser"><!-- ENDIF -->
			</div>

			<div>
				<div>Esprit</div>
				<div id="my_sensoriality">{MY_SENSORIALITY}</div>
				<!-- IF MY_SENSORIALITY < 8 && ATTRIBUTES_TO_USE > 0 --><input name="my_sensoriality_button" class="my_attributes_button" type="submit" value="Dépenser"><!-- ENDIF -->
			</div>

			<div>
				<div>Furtivité</div>
				<div id ="my_stealth">{MY_STEALTH}</div>
				<!-- IF MY_STEALTH < 8 && ATTRIBUTES_TO_USE > 0 --><input name="my_stealth_button" class="my_attributes_button" type="submit" value="Dépenser"><!-- ENDIF -->
			</div>

			<div>
				<div>Vitesse</div>
				<div id="my_swiftness">{MY_SWIFTNESS}</div>
				<!-- IF MY_SWIFTNESS < 8 && ATTRIBUTES_TO_USE > 0 --><input name="my_swiftness_button" class="my_attributes_button" type="submit" value="Dépenser"><!-- ENDIF -->
			</div>

			<div>
				<div>Ninjutsu</div>
				<div id="my_ninjutsu">{MY_NINJUTSU}</div>
				<!-- IF MY_NINJUTSU < 8 && ATTRIBUTES_TO_USE > 0 --><input name="my_ninjutsu_button" class="my_attributes_button" type="submit" value="Dépenser"><!-- ENDIF -->
			</div>

			<div>
				<div>Taijutsu</div>
				<div id="my_taijutsu">{MY_TAIJUTSU}</div>
				<!-- IF MY_TAIJUTSU < 8 && ATTRIBUTES_TO_USE > 0 --><input name="my_taijutsu_button" class="my_attributes_button" type="submit" value="Dépenser"><!-- ENDIF -->
			</div>

			<div>
				<div>Genjutsu</div>
				<div id="my_genjutsu">{MY_GENJUTSU}</div>
				<!-- IF MY_GENJUTSU < 8 && ATTRIBUTES_TO_USE > 0 --><input name="my_genjutsu_button" class="my_attributes_button" type="submit" value="Dépenser"><!-- ENDIF -->
			</div>
		</div>
	</form>
</div>
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->

<!-- EVENT index_body_forumlist_body_after -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset class="quick-login">
			<label for="username"><span>{L_USERNAME}{L_COLON}</span> <input type="text" tabindex="1" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" /></label>
			<label for="password"><span>{L_PASSWORD}{L_COLON}</span> <input type="password" tabindex="2" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" autocomplete="off" /></label>
			<!-- IF U_SEND_PASSWORD -->
				<a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a>
			<!-- ENDIF -->
			<!-- IF S_AUTOLOGIN_ENABLED -->
				<span class="responsive-hide">|</span> <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" tabindex="4" name="autologin" id="autologin" /></label>
			<!-- ENDIF -->
			<input type="submit" tabindex="5" name="login" value="{L_LOGIN}" class="button2" />
			{S_LOGIN_REDIRECT}
			{S_FORM_TOKEN_LOGIN}
		</fieldset>
	</form>
<!-- ENDIF -->

<!-- EVENT index_body_stat_blocks_before -->

<!-- INCLUDE overall_footer.html -->
