<!-- INCLUDE overall_header.html -->
{% INCLUDEJS 'missions_board.js' %}
<div id="missions_board_title">Tableau des missions</div>
<div id="missions_board_content">
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="create_mission_callback" data-refresh="true">
        <h1>Créer une mission</h1>
        <h2>Titre de la mission</h2>
        <input type="text" name="mission_title" maxlength="255" minlength="5" required>
        <h2>Description de la mission</h2>
        <textarea name="mission_description" required></textarea>
        <h2>Conditions de réussite</h2>
        <textarea name="mission_conditions" required></textarea>
        <h2>Récompenses potentielles</h2>
        <textarea name="mission_earnings" required></textarea>
        <h2>Informations complémentaires</h2>
        <div>Mettez ici des informations comme le lieu de la mission.</div>
        <textarea name="mission_infos" required></textarea>
        <h2>Rang de la mission</h2>
        <select name="mission_rank">
            <option value="S">S</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
        <h2>Nombre de participants maximum</h2>
        <input type="number" name="mission_max_users" min="1" required>
        <h2>Groupes concernés</h2>
        <div>
            <input type="checkbox" name="mission_iwa"> <label>Iwagakure</label>
        </div>
        <div>
            <input type="checkbox" name="mission_suna"> <label>Sunagakure</label>
        </div>
        <div>
            <input type="checkbox" name="mission_kiri"> <label>Kirigakure</label>
        </div>
        <div>
            <input type="checkbox" name="mission_kumo"> <label>Kumogakure</label>
        </div>
        <div>
            <input type="checkbox" name="mission_konoha"> <label>Konohagakure</label>
        </div>
        <div>
            <input type="checkbox" name="mission_nuke"> <label>Nukenin</label>
        </div>
        <input type="submit" name="create_mission_button" value="Créer la mission">
    </form>
</div>
<!-- INCLUDE overall_footer.html -->