<!-- INCLUDE overall_header.html -->
{% INCLUDEJS 'talents.js' %}

<div id="talents_title">Gestion des talents</div>
<div id="talents_content">
    <!-- BEGIN talents -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="modify_talent_callback" data-refresh="true">
        <div class="all_talents">
            <input type="hidden" value="{talents.TALENT_ID}" name="talent_id">
            <strong class="talent_title">{talents.TALENT_TITLE}</strong> ; <span class="talent_description">{talents.TALENT_DESCRIPTION}</span>
        </div>
        <div class="button_align">
            <input type="button" class="button_modify click_modify_talent" value="Modifier le talent" onclick="modifyTalent({{ talents.S_ROW_COUNT }})">
            <input type="submit" class="button_delete delete_talent" value="Supprimer le talent" name="delete_talent">
            <input type="submit" class="button_validate no_disp modify_talent" value="Enregistrer les modifications" name="modify_talent">
            <input type="submit" class="button_delete no_disp unmodify_talent" value="Annuler les modifications" name="unmodify_talent">
        </div>
    </form>
    <!-- END talents -->
    <form method="post" action="{{ U_ACTION }}" accept-charset="utf-8" data-ajax="create_talent_callback" data-refresh="true">
        <h1>Créer un talent</h1>
        <h2>Nom du talent</h2>
        <input type="text" class="d_block" name="talent_title">
        <h2>Description du talent</h2>
        <textarea class="d_block" name="talent_description">
        </textarea>
        <input type="submit" value="Créer le talent" class="button_block button_validate" name="create_talent">
    </form>
</div>

<!-- INCLUDE overall_footer.html -->